body{
	margin: 0;
	padding: 0;
	width: 100%;
	background: url("../images/city.gif") left bottom no-repeat;
}
header{
	background: url("../images/hiphopcollage.jpg") left bottom no-repeat;
}
#logo {
	width: 85%;
	margin: 0 auto;
}
#logo img {
	max-width: 100%;
	/*margin: 0;*/
	display: block;
}
#nav {
	background: black;
}
nav {
	width: 85%;
	margin: 0 auto;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
nav ul li {
	float: left;
	width: 12.5%;
}
nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	height: 44px;
	line-height: 44px;
}
nav li a:visited {
	color: navy;
}
nav li a:hover {
	text-shadow: 2px 2px 3px silver;
}
nav li a:active {
	color: white;
	background: black;
}
#about {
	background: white;	
	-moz-column-count: 3;
	width: 80%;
	float: right;
	margin-top: 44px;
	padding-right: 10%;
	padding-left: 2.5%;		
}
#author {
	background: white;
	width: 80%;
	float: left;
	margin-top: 44px;
	padding-left: 10%;
	padding-right: 2.5%;
}
.gallery li {
	list-style-type: none;
	float: left;
	width: 24%;
}
.gallery img {
	width: 100%;
	max-width: 100%;
}
#author p {
	clear: left;
}
footer {
	clear: both;
}