body{
	margin: 0;
	padding: 0;
	width: 100%
}
#logo {
	width: 85%;
	margin: 0 auto;
}
#logo img {
	max-width: 100%;
	/*margin: 0;*/
	display: block;
}
#nav {
	background: blue;
}
nav {
	width: 85%;
	margin: 0 auto;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
nav ul li {
	float: left;
	width: 12.5%;
}
nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
}
#about {
	background: silver;	
	-moz-column-count: 3;
	width: 82.5%;
	float: right;
	padding-right: 7.5%;
	padding-left: 2.5%;		
}
#author {
	background: violet;
	width: 80%;
	float: left;
	padding-left: 10%;
	padding-right: 2.5%;
}
.gallery li {
	list-style-type: none;
	float: left;
	width: 24%;
}
.gallery img {
	width: 100%;
	max-width: 100%;
}
#author p {
	clear: left;
}
footer {
	clear: both;
}