body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: url("../images/city2.gif") left bottom no-repeat;
	font: 100%/1.5;
}
header{
	background: rgba(255,255,255,0.44);
}
/*#body {
	background: url("../images/city.gif") left bottom no-repeat;
}*/
#logo {
	width: 85%;
	margin: 0 auto;
}
#logo img {
	max-width: 100%;
	/*margin: 0;*/
	display: block;
}
#nav {
	background: black;
}
nav {
	width: 85%;
	margin: 0 auto;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
nav ul li {
	float: left;
	width: 12.5%;
	font: 1.4em 'Dosis', sans-serif;
}
nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	height: 2.5em;
	line-height: 2.5em;
}
nav li a:visited {
	color: white;
}
nav li a:hover {
	color: black;
	text-shadow: 2px 2px 3px silver;
	background: white;
}
nav li a:active {
	color: white;
	background: black;
}
p {
	font: 1em/1.5em 'Sintony', sans-serif;
}
h1 {
	font: 1.9em 'Dosis', sans-serif;
	text-shadow: 4px 3px 1px #bfc5c8; 
	margin: 0;
}
h2 {
	font: normal 1.7em 'Playfair Display', serif;
}
#about {
	background: rgba(255,255,255,0.94);
	border: 1.5px solid #42abd7;
	border-right: none;
	-moz-column-count: 3;
	width: 80%;
	float: right;
	margin-top: 44px;
	padding: 1.5% 10% 1.5% 2.5%;
}
#about h2 {
	padding-bottom: .5%;
}
#about p {
	text-indent: 2em;
}
#author {
	background: rgba(255,255,255,0.94);
	border: 1.5px solid #42abd7;
	border-left: none;	
	width: 80%;
	float: left;
	margin-top: 44px;
	margin-bottom: 44px;
	padding: 1.5% 2.5% 1.5% 10%;
}
#author h2 {
	margin: 0;
	padding: 0;
}
#gallery {
	overflow: hidden;
}
#gallery ul{
	display: block;
	overflow: hidden;
	margin-left: 0;
	padding-left: 0;
}
#gallery li {
	display: block;
	list-style-type: none;
	float: left;
	width: 23.5%;
	font: 20px 'Dosis', sans-serif;
	/*margin-right: 2%;*/
}
#gallery .rm {
	margin-right: 2%;
	overflow: hidden;
}
#gallery img {
	width: 100%;
	max-width: 100%;
	margin-top: 2.5%;
}
#author p {
	/*overflow: hidden;*/
	clear: left;
}
footer {
	clear: both;
	overflow: hidden;
	background: rgba(255,255,255,0.44);
	padding: 1.5% 2.5% 1.5% 10%; 
	border-top: 3px solid black;
}